.container {
    font-size: 0.75rem;
    line-height: 1.25;
    color: #696969;
    background-color: white;
}

.availablePlans {
    display: flex;
}

.availablePlansTitle,
.availablePlan {
    margin-right: 4px;
}

.container td {
    background-color: white;
    border: none;
}

.container tr {
    background-color: white;
    border-top: 1px solid #dadde1;
    border-bottom: 1px solid #dadde1;
}
